@import "../styles/variables.scss";
@import "../styles/breakpoints.scss";

/******* RECIPES COMPONENT *******/

.page-wrapper {
    display: flex;
    position: relative;

  .recipes-container-left{
    text-align: center;
    width: 50%;
    height: 100vh;
    overflow-y: scroll;
    @include media('<=tablet'){
      width: 100%;
    }

    .categories-title{
      font-family: Jost-Bold;
      color: $grey;
      margin-top: 100px;
    }
  

    /* CategoriesList Component */

    .categories-cards-container {
      @include cards-container;

      .categories-card {
        @include card;

        img { width: 100px; }

        .categories-card-title { @include card-title; }

        &:hover { @include card-hover }
      }
    }
  }

  .recipes-container-right{ 
    background-color: $yellow;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll; 
    transition: all .2s ease-out;
    @include media('<=tablet'){
      background-color: white;
      width: 100%;
      height: 100px;
      position: absolute;
      bottom: 0;
      border-radius: 20px 20px 0 0;
    }

    .recipes-list-container{
      width: 100%;
      height: 100%;
      @include media('<=tablet'){
        display: none;
      }
    }

    /* MealsList Component */

    .search-info{
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      @include media('<=tablet'){
        height: 100px;
        background-color: $yellow;
      }

      p{
        width: 80%;
        font-family: Jost-Bold;
        font-size: 80px;
        margin: 100px 0 0 30px;
        line-height: 1.2em;
        @include media('<=tablet'){
          font-size: 30px;
          margin: 10px 0 10px 30px;
        }

        span{ color: white;}
      }
    }

    .icon{
      display: none;
      @include media('<=tablet'){
        display: flex;
        align-self: center;
        background-color: white;
        border-radius: 50%;
        font-size: 25px;
        color: $yellow;
        padding: 5px;
        cursor: pointer;
        box-shadow: $shadow 4px 4px 5px;
      }
   }
  }

  .recipes-container-bottom{
    background-color: $yellow;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll; 
    transition: all .2s ease-out;
    @include media('<=tablet'){
      background-color: white;
      width: 100%;
      height: 70%;
      position: absolute;
      bottom: 0;
      overflow-y: scroll;
      border-radius: 20px 20px 0 0;
      transition: all .2s ease-out;
    }
    
  
  
    .recipes-list-container-bottom{
      width: 100%;
      height: 100%;
      @include media('<=tablet'){
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 20px 20px 0 0;
      }
    }
  
    .search-info {
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      @include media('<=tablet'){
        position: sticky;
        top:0;
        width: 100%;
        height:100px;
        display: flex;
        align-items: center;
        background-color: $yellow;
        border-radius: 20px 20px 0 0;
        margin-bottom: 30px;
        z-index: 50;
      }
      
  
      p{
        width: 80%;
        font-family: Jost-Bold;
        font-size: 80px;
        margin: 100px 0 0 30px;
        line-height: 1.2em;
        @include media('<=tablet'){
          width: 80%;
          font-family: Jost-Bold;
          font-size: 30px;
          margin: 10px 0 10px 30px;
          line-height: 1.2em;
        }

        span{
          color: white;
        }
      }

      .icon{
        display: none;
        @include media('<=tablet'){
        display: flex;
        align-self: center;
        background-color: white;
        border-radius: 50%;
        font-size: 25px;
        color: $yellow;
        padding: 5px;
        cursor: pointer;
        box-shadow: $shadow 4px 4px 5px;
        }
        
      }
    }
  } 
}