@import "../../styles/variables.scss";

/* SearchBar Component */

.search-bar {
    display: flex;
    margin: 20px auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;

    input {
      width: 300px;
      font-size: 1.1em;
      padding: 5px 10px;
      color: $grey;
      outline: none;
      border: none;
      border-radius: 20px;
      box-shadow: 3px 3px 5px 0 $shadow;
    }

    ::placeholder{
      color: $grey;
    }

    .search {
        position: absolute;
        right: 10px;
        color: $grey;
      }
  }